{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial scale = 1">
    <link href="{% static "css/page.css" %}" rel="stylesheet">
    <link href="{% static "css/page.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style2.css" %}" rel="stylesheet">
    <title>Student homepage</title>
    <link rel="apple-touch-icon" href="{% static " images/UDGAM_logo.png " %}">
    <link rel="icon" href="{% static " images/UDGAM_logo.png " %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145301884-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-145301884-2');
    </script>
  </head>

  <body>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <style>
      body {
        background: url("{% static "images/bgbody2.jpg" %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
      header {
        background-image: url("{% static "images/whitebg.jpg" %}");
      }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left mr-4">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="#">
            <img class="logo-dark" src="{% static "images/UDGAM_logo.png" %}" alt="logo" height="60px" width="60px">
            <img class="logo-light" src="{% static "images/UDGAM_logo.png" %}" alt="logo" height="60px" width="60px">
          </a>
        </div>

        <section class="navbar-mobile">
          <nav class="nav nav-navbar mr-auto">
            <a class="nav-link js-scroll-trigger" href="#dashboard">Dashboard</a>
            <a class="nav-link js-scroll-trigger" href="#other_startup_details">Available Startups</a>
            <a class="nav-link" href="#" onclick="openModalContactUs()">Contact us</a>
          </nav>

          <nav class="nav nav-navbar ml-auto">
            <a class="nav-link" href="#"><i class="fa fa-user"></i> {{student.name}}</a>
          </nav>
          <div>
            <a class="btn btn-sm btn-primary btn-round ml-lg-5 mr-2" href="{%url 'user_logout' pk=student.id %}">Log Out</a>
          </div>
        </section>

      </div>
    </nav>
    <!--Navbar begin-->

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light myNav">
      <a class="navbar-brand" href="#">Student's page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link js-scroll-trigger" href="#dashboard"><i class='fa fa-columns' aria-hidden="true"></i> Dashboard </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link js-scroll-trigger" href="#other_startup_details"><i class='fa fa-briefcase' aria-hidden="true"></i> Available Startups </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" onclick="openModalContactUs()"><i class='fa fa-phone fa-flip-horizontal' aria-hidden="true"></i> Contact us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href={%url 'user_logout' pk=student.id %}><i class='fa fa-power-off' aria-hidden="true"></i> Log-out</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <h4><i class='fa fa-user' aria-hidden="true"></i> {{student.name}}</h4>
          </li>
      </ul>
      </div>
    </nav> -->
    <!-- Navbar end-->

    <!--Navbar script start-->
    <!--Navbar script end-->

    <!--Dashbaord and Other Startup details style begin-->
    <!-- <style>
    #s1d,#s2d,#s3d,#s4d,#s5d,#s6d{
      display: none;
    }

    .card-background{
      height:275px;
      position:absolute;
      z-index:0;
      width:100%;
    }

   .card-body{
     z-index:1;
     position:relative;
   }

   .flip-card-back{
     position:absolute;
     display:none;
     text-align: center;
     width:100%;
   }

   .dashboard-cards{
     display:none;
   }

    </style> -->
    <!-- Dashbaord and Other Startup details style ends-->

    <!--Dashboard html start-->
    <header class="header section"  id="dashboard">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="lead-7 fw-400">Welcome {{student.name}} </h1>
              <hr class="w-30 ml-0">
              <h4> Please make sure you have purchased Udgam coupon by paying Rs. 100 to make your registration valid </h4>
              <h3> {% if chances == 0 %}
                You have reached the maximum number of applications a user can apply for!<br>
                We wish you all the best for your applications!
                {% else  %}
                You have {{chances}} more chances to apply and grab an internship!
                {% endif %} </h3>
              <hr class="my-4 w-10 ml-0">
              <p class="lead">Here you can see Startups you've registered for :</p><br>
            </div>
          </div>
            <div class="row gap-y">
              {% for appliedstartup in applied_startups %}
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 hover-shadow-4 d-flex align-items-stretch">
                    <div class="card d-block">
                      <img class="card-img-top p-2" src="{{appliedstartup.intern_pos.startup.logo.url}}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{appliedstartup.intern_pos.startup}}</h5>
                        <p>Profile : {{appliedstartup.intern_pos.profile}}</p>
                      </div>
                      <div class="card-hover bg-dark text-white" data-animation="fade">
                        <div class="card-body align-self-center">
                          <h5><i class="fa fa-briefcase"> </i> Position Details</h5>
                          <ul class="nav flex-column">
                            <li> Location : {{appliedstartup.intern_pos.location}} </li>
                            <li> Stipend : {{appliedstartup.intern_pos.stipend}} </li>
                            <li> Allowances : {{appliedstartup.intern_pos.allowances}} </li>
                            <li> Status : {{appliedstartup.status}} </li>
                          </ul>
                          <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="startup" value="{{appliedstartup.intern_pos.startup}}">
                            <input type="hidden" name="my_profile" value="{{appliedstartup.intern_pos.profile}}">
                            <button class="unregister_button btn btn-outline-danger mt-5" type="submit" {% if appliedstartup.status == 'PENDING'%}
                              enable {% else %} disabled {% endif %}>Unregister</button><br>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </header>
    <!--Dashboard html end-->

    <!--Other Startup details html begin-->
    <section class="section"  id="other_startup_details">
        <div class="container">
            <header class="section-header">
                <h2 class="display-3 fw-400" style="background: none;">Available Startups</h2>
            </header>
            <div class="row gap-y">
            {% for startup in startups %}
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 hover-shadow-4 d-flex align-items-stretch" id="{{startup.user}}_other">
                <div class="card d-block">
                  <img class="card-img-top p-2" src="{% if startup.logo %}{{startup.logo.url}} {% else %}{% endif %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{startup.user}}</h5>
               
                  </div>
                  <div class="card-hover bg-dark text-white" data-animation="fade">
                    <div class="card-body align-self-center">
                      <h5><i class="fa fa-briefcase"></i> Hiring for positions</h5>
                      <ul class="nav flex-column">
                        {% for interndetail in intern_detail%}
                        {% if interndetail.startup == startup%}
                        <li>{{interndetail.profile}}</li>
                        {% endif %}
                        {% endfor %}
                      </ul><br>
                      <div class="text-center">
                      <button class="register_button_{{startup.user}} btn btn-outline-success" id="{{startup.id}}">More Information</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
              </div>
            </div>
          </section>
          <br>
    <!-- Other Startup details html end-->

    <!--Dashboard and Other Startup Details combined script begins-->
   <script>
  /* {% for startup in startups %}
  function clean_up(){
     for(i=0; i<$('.reg_yes').length; i++)
    {
      if($('.reg_yes').eq(i).attr("id")==="{{startup.user}}_dashboard")
      {
        $('#{{startup.user}}_dashboard').css('display','inline-block');
        $('#{{startup.user}}_other').css('display','none');
      }
    }

    for(i=0; i<$('.reg_no').length; i++)
    {
      if($('.reg_no').eq(i).attr("id")==="#{{startup.user}}_dashboard")
      {
        $('#{{startup.user}}_dashboard').css('display','none');
        $('#{{startup.user}}_other').css('display','inline-block');
      }
    }
  };
  clean_up();
  {% endfor %} */
    </script>

    <script>
  function y(j)
  {
    $('.flip-card').eq(j).on('mouseover',function()
    {
    $('.card-body').eq(j).css('z-index',"0");
      $('.card-background').eq(j).css('z-index',"1");
      $('.flip-card-back').eq(j).css('display','inline-block');
      $('.flip-card-back').eq(j).css('z-index','2');
    }).on('mouseout',function(){
        $('.card-body').eq(j).css('z-index',"1");
        $('.card-background').eq(j).css('z-index',"0");
        $('.flip-card-back').eq(j).css('display','none');
        $('.flip-card-back').eq(j).css('z-index','-1');
    });
  }
  y(0);y(1);y(2);y(3);y(4);y(5);y(6);y(7);y(8);y(9);y(10);y(11);y(12);
  </script>
    <!--Dashboard and Other Startup Details combined script ends-->

    <!--Apply for Startups style begins-->
    <style>
    .modal-body{
      display:none;
      text-align: center;
    }

    input[type="text"]::placeholder {

                /* Firefox, Chrome, Opera */
                text-align: center;
            }

            input[type="text"]:-ms-input-placeholder {

                        /* Internet Explorer 10-11 */
                        text-align: center;
                    }
                    input[type="text"]::-ms-input-placeholder {

                        /* Microsoft Edge */
                        text-align: center;
                    }
        #startup_name, #startup_location, #startup_stipend{
          text-align: center;
        }
    </style>
    <!--Apply for Startups style ends-->

    <!--Apply for Startups html begins-->

    <button type="button" data-backdrop="static" data-keyboard="false" class="btn btn-primary modalBtn" data-toggle="modal" data-target=".bd-example-modal-lg" style="display: none;"></button>
    <div class="modal fade bd-example-modal-lg modal-long" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-long">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Apply for Startup</h5>
          </div>
            {% for startup in startups %}
            <div id="{{startup.user}}" class="modal-body">
            <form method='post' href="{% url "stud_home" pk=student.id %}" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="startup_name"><h4>Company:</h4></label>
              <input type="text" name="startup_name" value="{{startup.user}}" id="startup_name" class="form-control" readonly><br>
              <input type="text" name="startup_name" value="{% if  startup.description %}{{startup.description}} {% else %} {% endif %}" id="startup_name" class="form-control" readonly><br>              
              <h4>Choose your profile:</h4>
              <div class="row gap-y">
                {% for internpos in intern_detail %}
                {% if internpos.startup.user == startup.user %}
                <div class="col-12 col-md-6 d-flex align-items-stretch">
                  <label class="container-fluid">
                    <input type="radio" name="profile" id="profile" value="{{internpos.profile}}" class="card-input-element" />
                    <div class="card shadow-2 border card-input">
                      <div class="card-body">
                        <div class="card-title">{{internpos.profile}}</div>
                        <h6>Location:</h6>
                        <p class="lead">{{internpos.location}}</p>
                        <h6>Stipend:</h6>
                        <p class="lead">{{internpos.stipend}}</p>
                      </div>
                      <!-- <div class="card-header"><label for="profile">{{internpos.profile}}</label></div>
                      <div class="card-body">
                        <label for="startup_name">Location: </label>
                        <input type="text" name="startup_location" value="{{internpos.location}}" id="startup_location" class="form-control"
                          readonly><br>
                        <label for="startup_stipend">Stipend: </label>
                        <input type="text" name="startup_stipend" value="{{internpos.stipend}}" id="startup_stipend" class="form-control"
                          readonly><br>
                      </div> -->
                    </div>
                  </label>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              <input type="hidden" name="startupName" value="{{startup.id}}" id="startupName" class="form-control">
              <label for="personal_question"><h4>What makes you a perfect fit? </h4></label>
              <input type="text" placeholder="Write in short..." class="form-control" name="content" maxlength="250" id="personal_question">
              <hr class="my-4">
              <p style="font-weight:bold;">Upload your CV</p>
              <div class="custom-file col-12">
                {{form.resume}}
              </div>
              <button type="submit" class="btn btn-primary mt-5" {% if chances == 0 %} disabled {% endif %}>Apply</button>
            </form>
          </div>
          {% endfor %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_button">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Apply for Startups html ends-->

    <!--Apply for Startups Style begins-->
    <style>
      form{
        text-align: center;
      }
      .card-input-element {
          display: none;
      }

      .card-input {
          margin: 10px;
          padding: 00px;
      }

      .card-input:hover, .card-mouse:hover {
          cursor: pointer;
      }

      .card-input-element:checked + .card-input {
          box-shadow: 0 0 1px 1px #2ecc71;
      }
    </style>
    <!--Apply for Startups Style ends-->
    {% for startup in startups%}
      <script>
        var x = document.getElementById("{{startup.id}}");
        var y = document.querySelectorAll('.modal-body');
        var z = document.getElementById("close_button");
        x.addEventListener('click', function () {
          for (var j = 0; j < y.length; j++) {
            if (y[j].getAttribute("id") == "{{startup.user}}") {
              y[j].style.display = "inline-block";
            }

          }
          document.querySelector(".modalBtn").click();
        });


        z.addEventListener("click", function () {
          console.log("hi");
          for (var k = 0; k < y.length; k++) {
            y[k].style.display = "none";
          }
        });

      </script>
      {% endfor %}


    <!--Apply for Startups script begins-->
     <script>
/*     {% for startup in startups %}

    $('.register_button_{{startup.user}}').on('click',function(){
      $('#{{startup.user}}_dashboard').addClass('reg_yes');
      $('#{{startup.user}}_dashboard').removeClass('reg_no');
      clean_up();
    });

    $('.unregister_button_{{startup.user}}').on('click',function(){
      $('#{{startup.user}}_dashboard').removeClass('reg_yes');
      $('#{{startup.user}}_dashboard').addClass('reg_no');
      clean_up();
    });
    {% endfor %}*/
    </script>
    <!--Apply for Startups script ends-->

    <!--Credits and contact details start-->
    <style>
    .credits{
      text-align:center;
      color:orange;
      margin:0 auto;
    }

    footer{
      clear: both;
      position: relative;
      height:75px;
      bottom: 0px;
    }
    </style>

    <button type="button" data-backdrop="static" data-keyboard="false" class="btn btn-primary contactModalBtn" data-toggle="modal" data-target=".contact-modal" style="display: none;"></button>
    <div class="modal fade contact-modal" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Contact Us</h5>
          </div>
          <div style="display:inline-block;" class="modal-body" >
            <p>For general queries, mail : internfair.iitg@gmail.com<hr>
            For technical queries, mail : ayushjain.iitg@gmail.com</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer text-center" style="background-color: #0c0032;">
        <div class="social social-sm social-bg-brand social-cycling">
          <a class="social-twitter" href="https://twitter.com/ecelliitg"><i class="fa fa-twitter"></i></a>
          <a class="social-facebook" href="https://www.facebook.com/ecell.iitg/"><i class="fa fa-facebook"></i></a>
          <a href="mailto:edc@iitg.ac.in"><i class="fa fa-envelope"></i></a>
          <a class="social-linkedin"
            href="https://www.linkedin.com/company/udgam-the-annual-entrepreneurship-summit-of-iit-guwahati/"><i
              class="fa fa-linkedin"></i></a>
          <a class="social-instagram" href="https://www.instagram.com/ecell_iitg/"><i class="fa fa-instagram"></i></a>
        </div>
        <br>
        <p class="small text-white">Copyright © 2020 UDGAM Creatives, All rights reserved.<br> Designed and Developed by Ashish Menon, Rishi Pathak and Ayush Jain</p>
    </footer>
  <script>
    function openModalContactUs(){
      $('.contactModalBtn').click();
    }
  </script>
    <!--Credits and contact details end-->
    <script type="text/javascript">

      $('.custom-file input').change(function (e) {
        $(this).next('.custom-file-label').html(e.target.files[0].name);
      });

    </script>
  <script src="{% static "js/page.min.js" %}"></script>
  <script src="{% static "js/script.js" %}"></script>
</body>
</html>
